/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

body {
	/* border: 1px solid black; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* grid-template-rows: repeat(4, 1fr); */
	gap: 2%;
	width: 88%;
	margin: 0 auto;
}

header {
   grid-column: 1 / -1;
   display: flex;
   justify-content: space-between;
	align-items: center;
	padding: 2%;
	gap: 2%;
 background-color: antiquewhite;
}

#button-4 {
	margin-left: auto;
}

#box1{
  grid-column: 1 / 3;
}
#box2 {
	grid-column: auto / span 8;
}
#box3 {
	grid-column: 11 / span 2;
}
main {
  grid-column: 1 / 10;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: antiquewhite;

  /*justify-content:space-around;
  align-content: space-around;*/
}

.c-section{
	flex: 1 1 240px;
	margin: 10px;
}

aside {
 grid-column: 10 / span 3;
}
footer {
   grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1%;
	padding: 1%;
}

.border {
	border: 1px solid black;
}

aside, footer, #box1, #box2, #box3{
	min-height: 150px;
}



@media screen and (max-width:1200px) {
	
	#box1{
  		grid-column: 1 / 4;
	}
	#box2 {
		grid-column: auto / span 6;
	}
	#box3 {
		grid-column: 10 / span 3;
	}

	main {
		grid-column: 1 / 9;
	}
	aside {
		grid-column: 9 / span 4;
	}

}

@media screen and (max-width:960px) {
	#box1 {
  		grid-column: 1 / 5; 
	}
	 #box2 {
		grid-column: auto / span 4;
	}
	#box3 {
		grid-column: 9 / span 4;
	} 

	main {
		grid-column: 1 / 7;
	}
	aside {
		grid-column: 7 / span 6;
	}
	footer {
		grid-template-columns: repeat(2, 1fr);
}

#section1, #section2, #section3, #section4 {
	margin: 5px;
	min-width: 0;
	min-height: 0;
}

}

@media screen and (max-width:768px) {
	body {
		grid-template-columns: 1fr;
	}
	
	.border, #box1, #box2, #box3, #section1, #section2, #section3, #section4 {
		grid-column: 1 / 2; 
	}

	footer {
		grid-template-columns: 1fr;
		height: 600px;
	}

}