/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

body {
	/* border: 1px solid black; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
	/* grid-template-areas: "h h h h h h h h h h h h" ; */
	gap: 4px;
	width: 90%;
	margin: 0 auto;
}

header {
   grid-column: 1 / -1;
   grid-row: 
}
#box1{
  grid-column: 1 / 3;
}
#box2 {
	grid-column: auto / span 8;
}
#box3 {
	grid-column: 11 / span 2;
}
main {
  grid-column: 1 / 10;
}
aside {
 grid-column: 10 / span 3;
}
footer {
   grid-column: 1 / -1;
}



.border {
	border: 1px solid black;
}
