/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

body {
	/* border: 1px solid black; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 4px;
	width: 90%;
	margin: 0 auto;
}

.border {
	border: 1px solid black;
}
